body {
    font-size: 16px;
}

.bodybackground {
    background-color: #FFFFFF !important;
}
.symbolbrand {
    display:inline-block;    
    /*margin-top: 50px;*/
    clear:both;
}

.symbol {
    text-align:right;
}

#menutabs {
    background: #114f7a !important;
}

#wb-main-in a:link {
    color:#FFFFFF !important;
}

#wb-main-in a:hover {
    color:#D9D9D9 !important;
}

.symbolbrand img {        
    width:90px; 
    height:90px;
    margin-left: 0px !important;
    margin-right:0px !important;
}

.brand {
    text-align:left;
    vertical-align:top;
}

.cover {
    display:inline-block;    
    clear:both;
    text-align:left;
    vertical-align:top;
}

.sponsor {
    clear:both;
    text-align:left;
}

.preprev {
    clear:both;
    text-align:right;
}

.sponsordate {
    display:inline-block;  
    width: 35%;
    clear:both;
    margin-top:80px;
}

#wb-main {
    min-height:500px;
}

.roadynarow {
    clear:both;
}

.mce-tinymce.mce-container.mce-panel {
    /*width:100% !important;*/
}

/*#ContentPlaceHolder1_tbBrandName_ifr {
    height: 50px !important;
}*/

.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item iframe{
    /*height: 50px !important;*/
}


/*#divBrandNamee {
    margin-bottom:160px !important;
}

.mandatoryfields {
    clear:both; 
    float:left; 
    color:red;
}

.mandatoryfields a:link, .mandatoryfields a:hover, .mandatoryfields a:visited {
    text-decoration: none !important;
    color:red !important;
}
    */

/*
#wb-sm-hc-prodmono .nvbar .row{
    background-color: #FFFFFF !important;
}
#wb-sm-hc-prodmono .nvbar .row ul li a:link, #wb-sm-hc-prodmono .nvbar .row ul li a:hover, #wb-sm-hc-prodmono .nvbar .row ul li a:visited{
    color: #335075 !important;
}
#wb-sm-hc-prodmono .nvbar .row ul li a:active {
    outline: none;
}
#wb-sm-hc-prodmono .nvbar .row ul li a {
    display: inline-block;
}
#wb-sm-hc-prodmono .nvbar .row ul li:after {
    content: "|";
}
#wb-sm-hc-prodmono .nvbar .row ul li:last-child:after {
    content: "";
}

#wb-sm-hc-prodmonobottom .nvbar .row{
    background-color: #FFFFFF !important;
}
#wb-sm-hc-prodmonobottom .nvbar .row ul li a:link, #wb-sm-hc-prodmono .nvbar .row ul li a:hover, #wb-sm-hc-prodmono .nvbar .row ul li a:visited{
    color: #335075 !important;
}
#wb-sm-hc-prodmonobottom .nvbar .row ul li a:active {
    outline: none;
}
#wb-sm-hc-prodmonobottom .nvbar .row ul li a {
    display: inline-block;
}
#wb-sm-hc-prodmonobottom .nvbar .row ul li:after {
    content: "|";
}
#wb-sm-hc-prodmonobottom .nvbar .row ul li:last-child:after {
    content: "";
}
*/

#submenutabs ul li a {
    display: inline-block;
}

#submenutabs ul li:after {
    content: "|";
}

#submenutabs ul li:last-child:after {
    content: "";
}

#submenutabsbottom ul li a {
    display: inline-block;
}

#submenutabsbottom ul li:after {
    content: "|";
}

#submenutabsbottom ul li:last-child:after {
    content: "";
}

.cke_textarea_inline.cke_editable.cke_editable_inline.cke_contents_ltr.cke_show_borders {
    border: 1px solid #D9D9D9 !important;
}

.cke_toolbox_collapser {
    margin-top: 0px !important;
}

details {
    border: 0px !important;
}

details summary {
    border: 0px !important;
    color: #333 !important;
}

details[open] summary {
    border: 0px !important;
}

details summary:focus, details summary:hover{
    text-decoration: none !important;
}

details[open] {
    padding-bottom: 0px !important;
}

.optionitems:before {
    content:">" !important;
}